html{
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

*,
*::after,
*::before{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header-div{
  text-align: center;
  padding: 20px;
  border-bottom: solid;
  background-color: lightblue;
}

.options{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  outline : 2px solid black;
}

.etch-a-sketch{
  height: 600px;
  width: 750px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
}